@import "tailwindcss";

:root {
  --background: #e8e8e8;
  --foreground: #171717;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-clash), sans-serif;

  background-color: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 100%;

  &.med {
    font-weight: 500;
  }
}

.map-popup .leaflet-popup-content p {
  margin: 0 !important;
}
